name: todo_categories_app
description: Aplicación Flutter para gestionar tareas organizadas por categorías.
publish_to: "none" # Evita publicar el paquete en pub.dev

version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  # Manejo de estado
  provider: ^6.1.2

  # Iconos de Material Design
  cupertino_icons: ^1.0.6

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^3.0.1

flutter:
  uses-material-design: true
